@charset "UTF-8";
/*обнуление*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body {
  background-image: url("DSC_0836_WEB_Background_oil.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

a {
  padding: 6px;
  margin: 10px;
  text-decoration: none;
}

p {
  padding: 10px 0px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "header header" "side content";
}

.text-content {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  padding: 0px 100px;
  text-align: center;
  color: #e5e5e5;
  background: rgb(144, 144, 144);
  background: linear-gradient(90deg, rgba(144, 144, 144, 0) 0%, rgba(9, 9, 9, 0.437412465) 15%, rgba(9, 9, 9, 0.44) 85%, rgba(144, 144, 144, 0) 100%);
}

.gallery-content {
  display: grid;
  max-width: 1000px;
  margin: auto;
  padding: 0px 100px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #e5e5e5;
  background: rgb(144, 144, 144);
  background: linear-gradient(90deg, rgba(144, 144, 144, 0) 0%, rgba(9, 9, 9, 0.437412465) 15%, rgba(9, 9, 9, 0.44) 85%, rgba(144, 144, 144, 0) 100%);
  /*display: grid;
  box-sizing: content-box;
  justify-content: center;
  align-items: center;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;*/
}

.img-col {
  margin: 0 200px 0 200px;
}

.grid-header,
.grid-side,
.grid-content {
  padding: 30px;
  border: 1px solid rgba 255, 255, 255, 0.2;
  margin: 0px 0px 15px 0px;
  overflow: hidden;
}

#logo {
  padding: 10px;
  margin-top: -15px;
  flex-grow: 0;
  width: 400px;
  height: auto;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10 px;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}

.header__logo {
  flex: 0 0 70px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
}

.header__logo #img {
  max-width: 100px;
}

.header__burger {
  display: none;
}

.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
}

.header__list {
  display: flex;
  justify-content: center;
  color: rgb(0, 94, 24);
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 15px;
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .text-content {
    padding: 70px 0px 0px 0px;
  }
  .gallery-content {
    padding: 70px 0px 0px 0px;
  }
  .grid-side {
    display: none;
  }
  .header__body {
    height: 50px;
  }
  .grid-header {
    height: 60px;
  }
  #logo {
    position: relative;
    top: -40px;
    left: -12px;
    height: 65px;
  }
  span {
    position: absolute;
    margin: 10px, 0px, 10px, 0px;
  }
  .header__burger {
    display: block;
    position: 0;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: rgb(0, 94, 24);
    left: 0;
    width: 15px;
    height: 2px;
    top: 21px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
.header__burger::after {
    content: "";
    background-color: rgb(0, 94, 24);
    position: absolute;
    width: 15px;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 17px;
  }
  .header__burger::after {
    bottom: 23px;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 21px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 27px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .grid-side, .link-side {
    overflow: auto;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 200px;
    height: 350px;
    padding: 60px 10px 20px 5px;
    margin: 100px 0 20px 0;
    transition: all 0.5s ease 0s;
    background: rgb(144, 144, 144);
    background: linear-gradient(90deg, rgba(144, 144, 144, 0) 0%, rgba(130, 130, 130, 0.9528186275) 14%, rgba(130, 130, 130, 0.7) 65%, rgba(85, 85, 85, 0) 100%);
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
    z-index: 2;
    background: rgb(82, 81, 81);
    background: linear-gradient(90deg, rgba(82, 81, 81, 0) 0%, rgba(87, 86, 86, 0.7903536415) 2%, rgb(91, 90, 90) 4%, rgb(107, 107, 107) 19%, rgba(85, 85, 85, 0.0592612045) 100%);
  }
  .header__list li {
    list-style: none;
    margin: 0 0 10px 0;
    width: 60px;
    font-size: 24px;
  }
}
.grid-header {
  position: fixed;
  top: 6px;
  width: 100%;
  left: 0;
  text-align: center;
  grid-area: header;
  background: rgb(0, 255, 119);
  background: linear-gradient(90deg, rgba(0, 255, 119, 0) 0%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 75%, rgba(0, 255, 119, 0) 100%);
  padding-block: unset;
  z-index: 50;
}

.grid-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid-side {
  position: fixed;
  grid-area: side;
  margin: 180px 20px 100px 20px;
  grid-template-columns: 1, 5fr 20%;
  /* added 13.07 */
  background: rgb(144, 144, 144);
  background: linear-gradient(90deg, rgba(144, 144, 144, 0) 0%, rgba(130, 130, 130, 0.9528186275) 14%, rgba(130, 130, 130, 0.7) 65%, rgba(85, 85, 85, 0) 100%);
}
.grid-side .link-side {
  position: -webkit-sticky;
  position: sticky;
  margin: 5px;
  padding-bottom: 3px;
  flex-direction: column;
  justify-content: space-between 30px;
  background: rgb(82, 81, 81);
  background: linear-gradient(90deg, rgba(82, 81, 81, 0) 0%, rgba(87, 86, 86, 0.7903536415) 2%, rgb(91, 90, 90) 4%, rgb(107, 107, 107) 19%, rgba(85, 85, 85, 0.0592612045) 100%);
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.side-logo {
  height: 20px;
}

.grid-content {
  padding: 4%;
}

.gallery {
  margin: 5px;
}

#gallery {
  width: 400px;
  padding: 20px;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 30%;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}

.logo-svg #logo_balticom {
  width: 50px;
}

/* finish form !!!
.form-floating .mb-4 {
    width: 10%;
    height: 4%;
}

#floatingInput,
#floatingPassword {
    width: 100px;
    height: 40px;
}
*/
.grid-content {
  grid-area: content;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(248, 176, 176, 0.26);
  color: rgb(10, 10, 10);
  text-align: center;
}

/*
самое главное в юзабилити: доступ к навигации
при горизонтальном положении смартфона вылезает спрятанное на -100% меню

 #menu-container > div {background: rgb(241, 101, 41); border: 1px solid; width: 10%; margin: 0px; padding: 0px; }
#menu-container > div:nth-of-type(1) {margin: 5px; padding: 0; }


*//*# sourceMappingURL=lilijas.css.map */